ion-label{
    font-weight: bold;
    position: absolute;
    left: 25%;
}

.por{
    position: absolute;
    left: 75%;
}

.op{
    position: absolute;
    text-align: right;
}
ion-title{
    text-align: center;
}
img{
    width: 40px;
    height: 40px;
}