<ion-header>
  <ion-toolbar id="titulo" color="color8">
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title>Secciones</ion-title>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="text-align: center">Bienvenidos</h1>


  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ion-avatar>
            <img src="assets/icon.png" alt="xxx">
          </ion-avatar>
        </mat-panel-title>
        <mat-panel-description>
          Seccion 001D
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ion-avatar>
            <img src="assets/icon.png" alt="xxx">
          </ion-avatar>
        </mat-panel-title>
        <mat-panel-description>
          Seccion 002D
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ion-avatar>
            <img src="assets/icon.png" alt="xxx">
          </ion-avatar>
        </mat-panel-title>
        <mat-panel-description>
          Seccion 003D
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ion-avatar>
            <img src="assets/icon.png" alt="xxx">
          </ion-avatar>
        </mat-panel-title>
        <mat-panel-description>
          Seccion 004D
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion>


  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ion-avatar>
            <img src="assets/icon.png" alt="xxx">
          </ion-avatar>
        </mat-panel-title>
        <mat-panel-description>
          Seccion 005D
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion>


  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ion-avatar>
            <img src="assets/icon.png" alt="xxx">
          </ion-avatar>
        </mat-panel-title>
        <mat-panel-description>
          Seccion 006D
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion>

</ion-content>

